include "layout.kdl"
include "input.kdl"
include "startup.kdl"
include "output.kdl"
include "binds.kdl"

environment {
    XCURSOR_THEME "adwaita"
}

cursor {
    hide-after-inactive-ms 4000
}


include "noctalia.kdl"
