output "DP-1" {
    // Uncomment this line to disable this output.
    // off
    mode "2560x1440@279.961"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1.25

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
}

output "HDMI-A-1" {
    off
}
